body {
  margin: 0;
}
.container {
  margin: 0;
  box-sizing: border-box;
  background-color: white;
  max-width: 1100px;
  padding: 0 10px;
}

.box {
  /* border: 1px solid #222; */
  border-radius: 10px;
  background-color: #999;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.list--box {
  border: 1px solid #222;
  border-radius: 10px;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 140px;
  background-color: pink;
}

.l-header {
  display: flex;
}
/* Logo */

.l-header-logo {
  width: 90px;
  margin-right: 8px;
}

/* Menu */

.l-header-menu {
  display: none;
}

/* Weather */

.l-header-weather {
  width: 220px;
  flex: 1;
}
.weather--box {
  display: flex;
  justify-content: flex-start;
}

.weather--box__1 {
  display: flex;
  flex-direction: column;
}

/* Bar */

.l-header-bar {
  width: 70px;
}

/* Main */

.main-topic {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  /* display: flex; */
  align-items: center;
}
.main-title {
  display: block;
  position: absolute;
  align-items: flex-end;
}
.main-img {
  height: 330px;
  width: 100%;
}
.main-title-h1 {
  font-size: 18px;
  color: black;
}
.main-title-p {
  display: none;
}
.gogo-answer {
  padding: 20px;
  background-image: linear-gradient(-120deg, #e08100, #c90027);
  border-radius: 10px;
  height: 5px;
}
.answer:hover .gogo-answer {
  padding: 25px;
}

/* Section */

.section--list {
  display: none;
}

.list {
  width: 100%;
}

/* Story */

.section--grid {
  overflow: scroll;
  margin: 20px 30px;
}

.box--grid {
  box-sizing: border-box;
  width: 2000px;
  display: flex;
}

.storys {
  display: flex;
  gap: 15px;
  border-radius: 10px;
}

.grid {
  background-color: aquamarine;
  width: calc(49vw - 75px / 2);
  height: 235px;
  overflow: hidden;
  position: relative;
}

.story-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: height 0.5s;
}
.story-title {
  position: absolute;
  line-height: 20px;
  max-height: 40px;
  color: #f1f1f1;
  bottom: 0;
  margin: 15px;
  overflow: hidden;
  font-family: sans-serif;
  font-weight: 400;
  transition: height 0.5s;
  height: 40px;
}

.grid:hover .story-img {
  transform: scale(1.1);
}

.storys:hover .story-title {
  height: 100px;
}

/* Medee */

.main--article {
  display: flex;
  width: 100%;
  background-color: white;
  height: 2100px;
}

.main--article__section {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.main--article__section1 {
  display: none;
}

/* Live */

.interview {
  display: grid;
  gap: 10px;
  background-color: white;
  margin-top: 10px;
}
.interview-box {
  height: 200px;
  background-color: greenyellow;
}
.interview--live {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  background-color: white;
}

.interview-box1 {
  width: 100%;
  height: 400px;
}

@media (min-width: 640px) {
  .grid {
    width: calc(33vw - 90px / 3);
  }
}

@media (min-width: 960px) {
  .container {
    max-width: 1180px;
    padding: 0 40px;
  }

  .l.header {
    gap: 20px;
    margin-bottom: 20px;
  }

  .l-header-logo {
    width: 116px;
  }

  .l-header-weather {
    width: 220px;
    flex: 0.4;
  }

  .main {
  }

  .main-img {
    width: 489px;
    /* height: 385px; */
  }

  .main-topic {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 20px 20px;
  }

  .main-title {
    width: 50vw;
    position: relative;
  }
  .main-title-h1 {
    font-size: 26px;
    color: black;
  }
  .main-title-p {
    display: block;
    font-size: 12px;
    margin: 10px 0 20px;
  }

  .main--article {
    display: flex;
  }

  .main--article__section {
    max-width: 708px;
    display: flex;
  }

  .main--article__section1 {
    width: 290px;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 120px;
    margin-bottom: 10px;
  }
  .section1--box {
    display: flex;
    flex-direction: column;
  }

  .box--grid {
    gap: 10px;
    display: flex;
  }
  .grid {
    width: calc(13vw - 0px);
  }
  .interview--live {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    background-color: white;
    margin-bottom: 10px;
  }

  .section1--box {
    width: 100%;
    background-color: rgb(68, 22, 113);
  }
  .section2--box {
    width: 100%;
    background-color: rgb(76, 22, 22);
    text-align: center;
  }
  .section2--box__box {
    height: 120px;
    text-align: center;
  }
  .interview {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 10px;
  }
  .interview-box1 {
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .l-header-menu {
    display: flex;
    flex: 1;
    height: 50px;
  }

  .menu--box {
    /* display: flex; */
  }
  .material-symbols-outlined {
    display: flex;
    align-items: end;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropbtn {
    color: #222;
    padding: 10px;
    font-size: 12px;
    border: none;
    cursor: pointer;
  }

  .dropdown {
    position: relative;
    background-color: white;
  }

  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
  .section-img {
    display: flex;
    height: 175px;
    width: 100%;
  }
  .section-image {
    width: 100%;
    background-color: #222;
    display: flex;
    height: 175px;
    width: 260px;
    /* position: absolute; */
    background-color: #222;
    inset: 0;
    color: #f1f1f1;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .section-image:hover .section-image {
    opacity: 0;
  }

  .section--list {
    display: flex;
  }

  .section-img1 {
    height: 285px;
    width: 100%;
  }
  .section--list {
    display: flex;
    gap: 20px;
    width: 100%;
  }
  .list {
    width: 100%;
    height: 283px;
    display: block;
    flex-direction: column;
  }
  .section-title {
    font-size: 12px;
  }
  .list:hover .section-image {
    opacity: 0.5;
    background-color: #3e8e41;
  }
}
