@font-face {
  font-family: NicoMoji;
  src: url(../NicoMoji-Regular.ttf);
}
body {
  margin: 0px;
  background-color: #f4f4f4;
}

/* top1 */

header {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 58px;
}

.header-img {
  width: 50px;
}

/* top2 */

.main-title {
  margin: 80px auto 38px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 48px;
  width: 250px;
}

.box {
  border: 1px solid blue;
}

/* top3 */

footer {
  margin-top: 38px;
  margin-bottom: 242px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.footer-img-size {
  width: 148px;
  height: 148px;
}
/* top4 */

.Destinations-tour {
  font-family: NicoMoji;
  color: #1ac74a;
  font-size: 16px;
  text-align: center;
  display: flex;
  margin-left: 120px;
  margin-top: 276px;
}

.Destinations-agency {
  color: #303030;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  margin: 10px 0 40px;
  text-align: center;
  display: flex;
  margin-left: 120px;
}

/* top5 */

.Destinations {
  list-style-type: none;
  padding: 0;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 40px 33px 178px 30px;
  /* border: red 1px solid; */
}

li {
  justify-content: space-between;
}
.Destination {
  margin-left: 120px;
}

.Destinations li {
  border: 1px solid #000;
  margin-bottom: 20px;
  border-radius: 8px;
  width: 312px;
  padding: 10px;
  transition: all 1s;
}

.Destinations li:hover {
  background-color: #000;
  color: #fff;
}

.Destination-image {
  position: absolute;
  top: 0;
  right: 0;
  width: 598px;
  height: 894px;
  transition: opacity 1s;
  margin: -276px 122px 204px 120px;
}

.Destinations li:hover .Destinations-image {
  opacity: 1;
}

/* top6 */
.article-title {
  font-family: NicoMoji;
  color: #1ac74a;
  font-size: 16px;
  text-align: center;
  margin: 178px auto 10px;
}

.article-p {
  color: #303030;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  margin: 10px 0 40px;
  text-align: center;
  margin: auto 40px;
}
/* top7 */

.top6l {
  border: solid 1px green;
  color: #777;
  font-family: Montserrat;
  font-size: 20px;
  border-radius: 8px;
  width: 308px;
  background-color: white;
  padding: 20px;
  margin: 40px auto 40px;
}

.top6r {
  color: #777;
  font-family: Montserrat;
  font-size: 20px;
  border-radius: 8px;
  width: 308px;
  background-color: white;
  padding: 20px;
  margin: 0px auto 80px;
}

.pack1 {
  color: #303030;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 40px;
}

.pack2 {
  color: #303030;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 40px;
}

.tour_plan {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 13px;
  margin: 0;
  list-style-type: armenian;
}

.list2 {
  margin: 0px;
}

.price {
  margin-top: 98px;
  color: #303030;
}

.price1 {
  margin-top: 40px;
  color: #303030;
}

/* top8 */

.top7 {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #101010;
  margin-top: 131px;
}

.top71 {
  color: #fff;
  font-family: Montserrat;
  font-size: 32px;
  margin-top: 40px;
}

.top72 {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  margin: 20px auto 40px;
  width: 130px;
  height: 44px;
}

.top722 {
  background-color: #1ac74a;
  padding: 10px;
}

/* top9 */

.top8 {
  background-color: #101010;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.top8-right {
  font-family: Montserrat;
  font-size: 28px;
  width: 315px;
  margin: auto;
  margin-top: 80px;
}

.top8-left {
  gap: 20px;
  width: 315px;
  margin: auto;
}

.top8-left-left {
  background-color: #303030;
  display: flex;
  min-height: 44px;
  padding: 10px 20px;
  justify-content: center;
  font-family: Montserrat;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  border-radius: 4px;
  width: 171px;
}
.top8-left-right {
  background-color: #303030;
  display: flex;
  min-height: 44px;
  font-family: Montserrat;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  border-radius: 4px;
  width: 171px;
  margin-bottom: 40px;
}

/* laptop */

@media (min-width: 580px) {
  .main-title {
    font-size: 64px;
    width: 330px;
    margin-bottom: 40px;
  }
  .footer-img-size {
    width: 250px;
    height: 250px;
  }
  footer {
    margin-top: 40px;
    margin-bottom: 297px;
    gap: 70px;
  }
  .Destinations-tour {
    font-size: 32px;
  }

  .Destinations-agency {
    font-size: 48px;
  }

  .Destinations {
    margin: 100px auto 264px;
  }

  .article-title {
    font-size: 32px;
    margin: 264px auto 10px;
  }

  .article-p {
    font-size: 48px;
    margin: 0px auto 80px;
  }

  .top6 {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 80px auto 168px;
  }
  .top6r {
    margin: 0px;
  }
  .top6l {
    margin: 0px;
  }
  .top8 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }

  .top8-left {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 30px;
  }

  .top8-left-left {
    margin: 0;
  }
  .top8-left-right {
    margin: 0;
  }
  .top8-right {
    margin: 0;
    margin-left: 30px;
    margin-top: 92px;
    margin-bottom: 40px;
  }
}

/* desktop */

@media (min-width: 1200px) {
  .main-title {
    font-size: 80px;
    width: 410px;
  }
  .footer-img-size {
    width: 250px;
    height: 400px;
    display: flex;
  }
  footer {
    margin-top: 38px;
    margin-bottom: 276px;
    gap: 66px;
  }
  .Destinations-tour {
    font-size: 32px;
  }

  .Destinations-agency {
    font-size: 48px;
  }
  /* .Destinations {
    margin: 124px 920px 204px 120px;
  } */

  .article-title {
    font-size: 32px;
    margin: 204px auto 10px;
  }

  .article-p {
    font-size: 48px;
    text-align: center;
    margin: 0px auto 80px;
  }

  .top6 {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 80px auto 171px;
  }
  .top6r {
    margin: 0px;
  }
  .top6l {
    margin: 0px;
  }
  .top8 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }

  .top8-left {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 120px;
  }
  .top8-left-left {
    margin: 0;
  }
  .top8-left-right {
    margin: 0;
  }
  .top8-right {
    margin: 0;
    margin-left: 120px;
    margin-top: 120px;
    margin-bottom: 80px;
  }
  .Destinations-img {
    position: relative;
  }
}
